body{
    font-family: 'Montserrat' ,Nunito, sans-serif;
    background: #eee;
}

/*navbar*/

.sidebar {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(images/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
}

.bottom-border{
    border-bottom:1px groove #eee ;
}

.sidebar-link{
    transition: all 0.4s;
}
.sidebar-link:hover{
    background-color: #444;
    border-radius:5px;
}
.current{
    background-color:#f44336;
    border-radius:7px;
    box-shadow:2px 5px 10px #111;
    transition: all 0.3s;
}
.current:hover{

    background-color: #f66436;
    border-radius:7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px) ;
}

@media (max-width: 768px) {
    .sidebar {
        position:static;
        height: 100vh;
    }
    .top-navbar{
        position: static;
    }
}

@font-face {
    font-family: "Vazir";
    src: url( "../fonts/Vazir.ttf" );
    src: local( "?" ), url( "../fonts/Vazir.ttf" )format( "truetype" );
}
*{
    font-family:Vazir !important;
    font-size:16px;
}

/* end of navbar*/